name: CICD Pipeline

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  actions: read
  contents: read

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          filter: tree:0
          fetch-depth: 0

      # This enables task distribution via Nx Cloud
      # Run this command as early as possible, before dependencies are installed
      # Learn more at https://nx.dev/ci/reference/nx-cloud-cli#npx-nxcloud-startcirun
      # Uncomment this line to enable task distribution
      # - run: npx nx start-ci-run --distribute-on="3 linux-medium-js" --stop-agents-after="build"

      # Cache node_modules
      - name: Setup Node.js and install dependencies
        uses: ./../actions/setup-node-cicd
        with:
          registry-url: ${{ secrets.PRIVATE_NPM_REGISTRY }}
          node-auth-token: ${{ secrets.PRIVATE_NPM_REGISTRY_TOKEN }}


      - name: Validate Changes
        run: npx nx run-many -t lint test build typecheck

