name: CICD Pipeline

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  actions: read
  contents: read

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          filter: tree:0
          fetch-depth: 0

      # Cache node_modules
      - name: Setup Node.js and install dependencies
        uses: ./../actions/setup-node-cicd
        with:
          registry-url: ${{ secrets.PRIVATE_NPM_REGISTRY }}
          node-auth-token: ${{ secrets.PRIVATE_NPM_REGISTRY_TOKEN }}


      - name: Validate Changes
        run: npx nx run-many -t lint test build typecheck

